<% include layout/_header %>
<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/edit/<%= bovControl._id %>" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="name" placeholder="Nome" value="<%= bovControl.name %>">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="type" placeholder="Tipo" value="<%= bovControl.type %>">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="weight" placeholder="Peso" value="<%= bovControl.weight %>">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="age" placeholder="Idade" value="<%= bovControl.age %>">
            </div>
            <button class="btn btn-primary" type="submit">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<% include layout/_footer %>
